configure
aclocal.m4
compile
config.guess
config.sub
depcomp
install-sh
missing
lib/Makefile.in
src/config.in
autom4te.cache
Makefile
TAGS
*~
/README.W32
*.o
config.log
config.status

/bin/
/site-lisp/
/leim/ja-dic/
etc/refcards/*.aux
etc/refcards/*.log
info/dir
info/*.info
